* {
	box-sizing: border-box; 
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	color: #404040;
	text-align: center;
}

/* TYPOGRAPHY */

h1 {
	font-size: 2.25rem;
	font-weight: 300;
	color: #fff;
	margin: 0; /* margins in 'em' units are relative to the fontsize */
}

/* +: adjacent sibling */
/* ~: anything that is a sibling of */
h1 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1.3125rem;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 1.3125rem;
	margin: 0;
}

h2 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	margin-top: 0;
}

.top-text {
	font-size: 0.625rem;
	font-weight: 900;
	margin: 0;
	padding-top: 2px;
	color: #f18119;
	text-transform: uppercase;
	order: -1;
	border-top: 5px solid #f18119;
	border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
	 
}

.fine-print {
	font-size: 0.625rem;
	letter-spacing: 1px;
}

strong {
	font-weight: 900;
}

/* Intro Section */

.intro {
	background-image: url("../images/dark-ribs.jpg");
	background-color: #404040; /* allows the text to be read if background image doesn't load */
	/* background-blend-mode: overlay; */
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 .5em 2em;
}

/* Main-Content section*/

.main-content {
	padding: 2em 1em;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}

.container-intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 50vh;
	height: 100%;
}

.container-main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

/* Form Styling */
.email-collector {
	/* border: 1px solid orange; */
	width: 90%;
	max-width: 300px;
}

input,
.btn {
	width: 100%;
	border-radius: 3px;
}

input {
	margin-bottom: 0.75em;
	font-family: inherit;
	text-align: center;
	padding: .25em;
	border: 1px solid #404040;
	transform: scale(1);
	transition: transform 250ms;
}

input:focus {
	transform: scale(1.1);
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	font-size: 0.625rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}

.btn-primary {
	background-image: linear-gradient(to left, #ff713b, #ffa51d);
	color: #fff;
	transform: scale(1);
	transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
	/* color: black; */
	/* background-color: #f18119; */
	transform: scale(1.1);
}


/* MEDIA QUERIES */

@media (min-width: 520px) {
	body {
		font-size: 1.125rem;
		display: flex;
		/* flex-direction: row; */
	}

	h1 {
		font-size: 3.5rem;
	}

	h1 + p,
	h2 {
		font-size: 1.75rem;
	}

	.intro,
	.main-content {
		width: 50%;
		min-height: 100vh;
	}

	.main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}